
/*body*/
body{
    margin: 0;
}

/*font family*/
h1, h2, h3, h4, a, p{
font-family: "Poppins", sans-serif;
}

/*buttons for header*/
h1{
    color:#F5CB5C;
}

nav ul {
    padding:0;
    margin:0;
    list-style-type:none;
    text-align: center;
}
nav li {
    margin-left:2px;
    display: inline;
}
nav ul li a {
    display:inline-block;
    width:200px;
    color: #F6F8F2;
    text-decoration:none;
    text-align:center;
    padding:10px;
    margin-bottom: 10px;
}

nav ul li a.menuB:hover {
    color:#F5CB5C;
    border-bottom: #F5CB5C 2px solid;
    padding-top:5px;
}

nav ul li a:hover{
    color:#F5CB5C;
    padding-top:10px;
}

/*div -> row*/
.row:after {
    content: "";
    display: table;
    clear: both;
}

.row{
    display: inline-block;
}

.right{
    float: right;
}

/*header*/
header{
    background-color: #333533;
    padding: 0.5em;
}

/*slideshow*/
#slideshow {
    overflow: hidden;
    height: 250px;
    width: 728px;
    margin: 0 auto;
}

.slide-wrapper {
    width: 2912px;
    -webkit-animation: slide 15s ease infinite;
}

.slide {
    float: left;
    height: 250px;
    width: 728px;
}

.slide:nth-child(1) {
    background: #F5CB5C;
}

.slide:nth-child(2) {
    background: #CFDBD5;
}

.slide:nth-child(3) {
    background: #F5CB5C;
}

.slide-title {
    color: #000;
    text-align: left;
    font-size: 1.4em;
    background-color: rgba(255,255,255,0.3);
    margin-top: 0;
}

@-webkit-keyframes slide {
    20% {margin-left: 0px;}
    30% {margin-left: -728px;}
    50% {margin-left: -728px;}
    60% {margin-left: -1456px;}
    70% {margin-left: -1456px;}
}

/*articles table*/
.submitB {
    background-color: #F5CB5C;
    height: 40px;
    width: 120px;
}

.submitB:hover{
    background-color: #F0B719;
}

table{
    width: 80%;
}

.separator{
    content: "";
}

td p.date{
    font-size: smaller;
}

/*footer*/

footer{
    width: 100%;
    background-color: #3a3a3a;
    margin: 0;
    padding-bottom: 3em;
    text-align: center;
}

h4{
    color: #CFDBD5;
    font-size: smaller;
}


